/*  app  css  stylesheet  */


* {
	font-family: 'Open  Sans', sans-serif;
}

/* .center-grey { */
/* 	background: #f2f2f2; */
/* } */

.slider {
	position: relative;
	padding: 4px;
	width: 99.9%;
	margin-top: 40px;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
/* 	width: 80%; */
/* 	width: 1344px; */
/* 	height: 756px; */
	margin-right: 270px;
	box-shadow: 0px 0px 15px #999;
}
.controls {
	float: right;
    width: 250px;
    height: 100%;
    border: 1px solid #ff0000;
}
.innerImg {
	width: 100%;
}

.arrows-right {
	float: right;
}
.arrows-left {
	float:left;
}
.arrowBar {
	display:block;	
}
.arrows  img {
	height: 32px;
}

.angular-google-map-container { height: 400px; }

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
