<style>
#slide
{
    position:relative;
}

#slideimg
{    
    position:absolute;
    left:0;
    top:0;
}
#slidetext
{
    z-index:100;
    position:absolute;    
    color:white;
    background-color:black;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:150px;
}
</style>
<div >
<div class="slider" ng-keydown="rOnKeyup($event)">
	<div id="slide" class="slide" focus-on="focusMe" tabindex="1" >
		<img id="slideimg" ng-hide="noMoreImages" class="innerImg" ng-src="{{selected.imagesrc}}" imageonload/>
		<div ng-show="noMoreImages" >
			<h2>You have finished categorizing, there are no more events. Thanks!</h2>
			You may want to cruise over to <a href="/#/report">reporting</a> and see what there is.
		</div>
		<div id="slidetext" ng-show="showLoad"><h1>&nbsp;LOADING&nbsp;</h1></div>
	</div>
	<div class="controls">
		<div class="well well-sm">
			<div id="stats">
				<div>
					events identified: {{numberIdentified}}
					<p>
					events remaining: {{remainingToIdentify}}
					<p>
					<progressbar type="success" max="100" value="percentIdentified"><span style="color:black; white-space:nowrap;">{{percentIdentified}} %</span></progressbar>
				</div>
			</div>
			<div class="arrows">
				<button type="button" ng-click="prevImage()" class="btn btn-primary ">&lt;</button>
				<button type="button" ng-click="nextImage()" class="btn btn-primary ">&gt;</button>
			</div>
			<div>
				<table>
					<tr>
						<td>image name: </td>
						<td>{{imagename}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="well well-sm">
			<div class="well well-sm" >
				<table>
					<tr>
						<td>number of individuals</td>
						<td><input id="numIndv" type="text" style="width: 45px; font-weight:bold;" size="3" maxlength="3" ng-model="numberOfAnimals"></td>
					</tr>
					<tr>
						<td>species common name:</td><td style="font-weight:bold;">{{typeSpecies.name}}</td>
						</tr><tr>
						<td>species latin name:</td><td style="font-weight:bold;">{{typeSpecies.latinName}}</td>						
					</tr>
				</table>
				<table>
					<tr ng-repeat="key in topSpecies">
						<td><button type="button" ng-click="speciesButtonPush(key)" class="btn btn-primary">{{getKeyText(key)}}</button></td><td>{{key.name}}</td>
					</tr>
				</table>
				<input id="typeSel" tabindex="2" type="text" ng-model="typeSpecies" typeahead="spc as spc.name for spc in species | filter:$viewValue | limitTo:8" class="form-control">
			</div>
			<div >
				<button tabindex="3" type="button" ng-disable="typeSpecies" ng-click="submitTyped(spc)" class="btn btn-primary ">submit selected species</button>
				<button tabindex="3" type="button" ng-disable="typeSpecies" ng-click="submitTypedPlus(spc)" class="btn btn-primary ">submit and add another</button>
			</div>
		</div>
	</div>
</div>
<!-- 	<slider images="images" map="map" keys="keys" tabindex="1" onkey="rOnKeyup($event)" focus-on="focusMe" /> -->
</div>