<div >
<div class="slider" ng-keypress="rOnKeyup($event)">
	<div id="slide" class="slide" focus-on="focusMe" tabindex="1">
		<img class="innerImg" ng-src="{{selected.imagesrc}}" /> <img
			class="innerImg" ng-src="{{next.imagesrc}}" ng-hide="true" /> <img
			class="innerImg" ng-src="{{nextnext.imagesrc}}" ng-hide="true" />
	</div>
	<div class="controls">
		<div id="stats">
			<div>
				number identified: {{numberIdentified}}
				<p>
				number remaining: {{remainingToIdentify}}
				<p>
				<progressbar type="success" max="100" value="percentIdentified"><span style="color:black; white-space:nowrap;">{{percentIdentified}} %</span></progressbar>
			</div>
		</div>
		<div class="arrows">
			<button type="button" ng-click="prevImage()" class="btn btn-primary btn-lg">&lt;</button>
			<button type="button" ng-click="nextImage()" class="btn btn-primary btn-lg">&gt;</button>
		</div>
		<div>
			<table>
				<tr>
					<td>image name</td>
					<td>{{imagename}}</td>
				</tr>
			</table>
			<table>
				<tr>
					<td>number of individuals</td>
					<td>{{numberOfAnimals}}</td>
				</tr>
			</table>
		</div>
		<div>
			<table>
				<tr><td><button type="button" ng-click="sendKey(32)" class="btn btn-primary btn-lg">spc</button></td><td>nothing found</td></tr>
				<tr ng-repeat="key in topSpecies">
					<td><button type="button" ng-click="sendKey(key.c)" class="btn btn-primary btn-lg">{{key.c}}</button></td><td>{{key.name}}</td>
				</tr>
			</table>
		</div>
<!-- 		<div id="map"> -->
<!-- 			<google-map center="map.center" zoom="map.zoom"> -->
<!-- 				<marker coords='map.center' ></marker> -->
<!-- 			</google-map> -->
<!-- 		</div> -->
	</div>
</div>
<!-- 	<slider images="images" map="map" keys="keys" tabindex="1" onkey="rOnKeyup($event)" focus-on="focusMe" /> -->
</div>