    <style>
        
        .chartBlob {
        	width: 550px;
        	height: 450px;
        }
    </style>
<p>Wildlife Camera Machine Report</p>
<div>
<!-- 	project selector<p> -->
<!-- 	geographic region selector<p> -->
	time period selector  (start and stop )<p>
	time of day selector (Day, Night, Sunset +/1 1hr,  SunRise +/-1hr)<p>
	Species selector<p>
	<div>
		<button type="button" ng-click="selectAllSpecies()" class="btn btn-primary btn-sm">Select ALL Species</button>
		<button type="button" ng-click="selectNoSpecies()" class="btn btn-primary btn-sm">Select No Species</button>
		<span ng-repeat="spec in topSpecies" >
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-click="checkClick(spec.id)" ng-checked="isChecked(spec.id)">{{spec.name}}
		</span>
	</div>
	
	
</div>
<div class="row">
<div class="col-md-6" id="byDay">
	<h3>Count By Day</h3>
	<nvd3-discrete-bar-chart
    	data="byDayData"
        id="byDayChart"
        showXAxis="true"
        showYAxis="true"
        xAxisTickFormat="xAxisDateTickFormat()"
        width="550"
        height="400"
        color="colorFunction()"
        >
        	<svg></svg>
    </nvd3-discrete-bar-chart>
	
</div>
<div class="col-md-6 chartBlob" id="byHour">
	<h3>Count By Hour</h3>
	<nvd3-discrete-bar-chart
    	data="byHourData"
        id="byHourChart"
        showXAxis="true"
        showYAxis="true"
        xAxisTickFormat="xAxisNumberTickFormat()"
        width="550"
        height="400"
        color="colorFunction()"
        >
        	<svg></svg>
    </nvd3-discrete-bar-chart>
	
</div>
</div> <!--  row -->
<div class="row">
<div class="col-md-6" id="bySpecies">
	<h3>Count By Species</h3>
	<nvd3-discrete-bar-chart
    	data="bySpeciesData"
        id="bySpeciesChart"
        showXAxis="true"
        showYAxis="true"
        xAxisTickFormat="xAxisNumberTickFormat()"
        width="550"
        height="400"
        color="colorFunction()"
        >
        	<svg></svg>
    </nvd3-discrete-bar-chart>
</div>
</div> <!--  row -->

