    <style>
        
        .chartBlob {
        	height: 300px;
        }
    </style>
<p><h1>Wildlife Camera Machine Report</h1></p>
<div>
<!-- 	project selector<p> -->
<!-- 	geographic region selector<p> -->
	
	<div style="width:450px;">
	Select a date range to view:
	<rzslider
    rz-slider-floor="1356998400"
    rz-slider-ceil="1420070400"
    rz-slider-precision="0"
    rz-slider-step="86400"
    rz-slider-model="params.timeStart"
    rz-slider-high="params.timeEnd"
    rz-slider-translate="sliderTimeFormatting"
    ></rzslider>
	</div>
	<div>
		Select time of day to view:
		<input type="checkbox" ng-model="params.tod.DAYTIME" >Day&nbsp;&nbsp;&nbsp;
		<input type="checkbox" ng-model="params.tod.EVENING" >Evening&nbsp;&nbsp;&nbsp;
		<input type="checkbox" ng-model="params.tod.NIGHTTIME" >Night&nbsp;&nbsp;&nbsp;
		<input type="checkbox" ng-model="params.tod.MORNING" >Dawn&nbsp;&nbsp;&nbsp;
		
	</div>
	<div>
		Select species to view:<p>
		<button type="button" ng-click="selectAllSpecies()" class="btn btn-primary btn-sm">Select ALL Species</button>
		<button type="button" ng-click="selectNoSpecies()" class="btn btn-primary btn-sm">Select No Species</button>
		<span ng-repeat="spec in topSpecies" >
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-click="checkClick(spec.id)" ng-checked="isChecked(spec.id)">{{spec.name}}
		</span>
	</div>
	
	
</div>
<div class="row">
<div class="col-md-6 chartBlob" id="byDay">
	<h3>Count By Day</h3>
	<nvd3-discrete-bar-chart
    	data="byDayData"
        id="byDayChart"
        showXAxis="true"
        showYAxis="true"
        xAxisTickFormat="xAxisDateTickFormat()"
        color="colorFunction()"
        >
        	<svg></svg>
    </nvd3-discrete-bar-chart>
	
</div>
<div class="col-md-6 chartBlob" id="byHour">
	<h3>Count By Hour</h3>
	<nvd3-discrete-bar-chart
    	data="byHourData"
        id="byHourChart"
        showXAxis="true"
        showYAxis="true"
        xAxisTickFormat="xAxisNumberTickFormat()"
        color="colorFunction()"
        >
        	<svg></svg>
    </nvd3-discrete-bar-chart>
	
</div>
</div> <!--  row -->
<div class="row">
<div class="col-md-6 chartBlob" id="bySpecies">
	<h3>Count By Species</h3>
	<nvd3-discrete-bar-chart
    	data="bySpeciesData"
        id="bySpeciesChart"
        showXAxis="true"
        showYAxis="true"
        xAxisTickFormat="xAxisNumberTickFormat()"
        color="colorFunction()"
        >
        	<svg></svg>
    </nvd3-discrete-bar-chart>
</div>
<div class="col-md-6" id="pics">
	<h3>Images</h3>
	<div id="arrowBar" class="arrowBar">
		<div class="arrows arrows-left" style="width:250px">
			events:
			<button type="button" ng-click="prevEvent()" class="btn btn-primary btn-sm">&lt;</button>
			<button type="button" ng-click="nextEvent()" class="btn btn-primary btn-sm">&gt;</button>
			{{reportEventIndex+1}} of {{imageEvents.length}}
		</div>
		<div class="arrows arrows-right" ng-show="showImageControls()">
			images:
			<button type="button" ng-click="prevImage()" class="btn btn-primary btn-sm">&lt;</button>
			<button type="button" ng-click="nextImage()" class="btn btn-primary btn-sm">&gt;</button>
			{{reportImgIndex+1}} of {{imageLength}}
		</div>
	</div>	
	<div>
		<img class="reportImg" ng-src="{{reportImg.imagesrc}}" />
	</div>
</div>
<!-- <div class="col-md-4" id="maps"> -->
<!-- 	<h3>Locations</h3> -->
<!-- 			<div id="map"> -->
<!-- <!-- 			<google-map center="map.center" zoom="map.zoom"> --> -->
<!-- <!-- 				<marker coords='map.center' ></marker> --> -->
<!-- <!-- 			</google-map> --> -->
<!-- 		</div> -->
<!-- </div> -->

</div> <!--  row -->

