<div >
  <input type="file" ng-file-select="onFileSelect($files)" multiple>
  <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class" ng-show="dropSupported">drop files here</div>
  <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
  <button ng-click="upload.abort()">Cancel Upload</button>
  <progressbar type="success" max="uploads.length * 100" value="actualProg"><span style="color:black; white-space:nowrap;">{{actualProg/100}} / {{uploads.length }}</span></progressbar>
</div>