<div class="row">
<div class="row">
<div class="col-md-6 col-md-offset-1 well">
<form id="detailform" name="form" novalidate class="form-horizontal" >
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">username<span class="text-danger"><b>*</b></span></label>
        <div class="controls" ng-hide="userproject.isNew()">
			{{userproject.username}}
        </div>
        <div class="controls" ng-show="userproject.isNew()">
			<i ng-show="loadingUsers" class="glyphicon glyphicon-refresh"></i>
			<input class="form-control" type="text" ng-model="userproject.user" placeholder="search via username or email" 
			typeahead-editable="false"
			typeahead="user as user.username+' : '+user.email for user in userOther($viewValue) | filter:$viewValue" 
			typeahead-wait-ms="250" 
			typeahead-min-length="3"
			typeahead-input-formatter="formatInput($model)"
			typeahead-loading="loadingUsers">
		</div>
        
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Project:<span class="text-danger"></span></label>
        <div class="controls">
            {{current_project.name}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">can Admin</label>
        <div class="controls">
            <input type="checkbox" ng-model="userproject.canAdmin" name="admin" id="admin" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">can Upload</label>
        <div class="controls">
            <input type="checkbox" ng-model="userproject.canUpload" name="upload" id="upload" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">can Categorize</label>
        <div class="controls">
            <input type="checkbox" ng-model="userproject.canCategorize" name="categorize" id="categorize" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">can Report</label>
        <div class="controls">
            <input type="checkbox" ng-model="userproject.canReport" name="report" id="report" />
        </div>
    </div>
   
    <button id="cancel" ng-click="cancel()" class="btn btn-warning">Cancel</button>
    <button ng-disabled="form.$invalid" ng-show="showSave" ng-click="save()" id="save" class="btn btn-primary">Save</button>
    <button ng-disabled="form.$invalid" ng-hide="showSave" ng-click="save()" id="update" class="btn btn-primary">Update</button>
</form>
</div>
</div>
</div>
        